//- variables generales del proyecto
-empresa='Refugio del Zorzal'
-autor=''
-pages=['Inicio', 'Proyecto', 'Ubicación', 'Contacto']
-sites=['#inicio', '#proyecto', '#ubicacion', '#contacto']
-services=['manada', 'tropa', 'comunidad', 'clan']
-serviceSites=['manada.html', 'tropa.html', 'comunidad.html', 'clan.html']
-servicesImg=['manada.png', 'images/tropa.png', 'images/comunidad.png', 'images/clan.png']
-pageTitle='Pronto'
-siteTitle= empresa
-description=''
-sizeImgServices=300
